# macOS
.DS_Store
.AppleDouble
.LSOverride

# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Jupyter
.ipynb_checkpoints/

# Microsoft Office temp files
~$*

# Python
*.pyc
__pycache__/

# Large files
plots/rnaseq_analysis/I315R_W281P_common_heatmap.tiff
