*.csv filter=lfs diff=lfs merge=lfs -text
/Users/gwcoope/Documents/GitHub/SMARCB1_DMS/data/computational_predictors filter=lfs diff=lfs merge=lfs -text
/Users/gwcoope/Documents/GitHub/SMARCB1_DMS/data/computational_predictors/ filter=lfs diff=lfs merge=lfs -text
/Users/gwcoope/Documents/GitHub/SMARCB1_DMS/computational_predictors_heatmaps.ipynb filter=lfs diff=lfs merge=lfs -text
data/patient_mutation_data/GENIE_Cohort_v16.1_TP53.tsv filter=lfs diff=lfs merge=lfs -text
